langchain
langchain_community
langchain-community
langchain-google-genai
python-dotenv
grandalf
pypdf
jq
Unstructured[pdf, csv, txt, json]
langchain-unstructured
langchain-text-splitters
chromadb
faiss-cpu
rank_bm25

